@import 'scss/utils/variables';
@import "scss/utils/mixin";


.monsters {
  background: $white;
  height: calc(100vh - 139px);
  position: relative;
  overflow: hidden;



  .clouds {
    background-image: url('/images/monsters/clouds-dark.svg'), url('/images/monsters/clouds-light.svg');
    background-repeat: repeat-x, repeat-x;
    background-size: 360px 72px, 360px 75px;
    background-position: bottom, top;
    height: 75px;
    width: 100vw;
    position: absolute;
    bottom: -1px;
  }

  .wigwam {
    background-image: url('/images/monsters/wigwam.svg');
    background-repeat: no-repeat;
    position: absolute;
    width: 327.519px;
    height: 260px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 8px;
  }


  @include breakpoint(tablet) {
    height: calc(100vh - 80.76px);

    .clouds {
      background-image: url('/images/monsters/clouds-dark-768.svg'), url('/images/monsters/clouds-light.svg');
      background-size: auto 137px, 768px 160px;
      height: 160px;
      bottom: 0;
    }

    .wigwam {
      background-size: 487px 386px;
      width: 487.664px;
      height: 386px;
      bottom: 32px;
    }

  }

  @include breakpoint(laptop) {

    .clouds {
      background-size: auto 183px, 1024px 213px;
      height: 213px;
    }

  }

  @include breakpoint(desktop) {

    height: calc(100vh - 91px);

    .clouds {
      background-image: url('/images/monsters/clouds-dark-1440.svg'), url('/images/monsters/clouds-light-1440.svg');
      background-size: auto 285px, 1440px 301px;
      height: 301px;
    }

    .wigwam {
      background-image: url('/images/monsters/wigwam-1440.svg');
      background-size: 655px 460px;
      width: 655px;
      height: 460px;
    }
  }


}

.wrapper{

  margin-top: 98px;
  display: flex;
  flex-direction: column;
  gap: 32px;

  .buttons{
    position: relative;
    width: 100vw;
    height: 64px;
    z-index: 999;
    padding-left: 16px;
    padding-right: 16px;

    .prev{
      position: absolute;
      left: 16px;
      bottom: 0;
    }

    .next{
      position: absolute;
      right: 16px;
      bottom: 0;
    }
  }

  .slide{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 16px;
    margin-right: 16px;
    gap: 36px 42px;

    .monsterIcon {
      width: 80px;
      height: 80px;
      border-radius: 100px;
      background-image: url("/images/monsters/green-bg.svg");
      background-repeat: no-repeat;
      background-position: bottom;
      background-color:  #C7E1FF;
      display: flex;
      align-items: center;
      justify-content: center;

      .monsterPresent{
        width: 60px;
        height: 50px;

        & img{
          object-fit: contain;
          object-position: center;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}