@import 'scss/utils/variables';
@import "scss/utils/mixin";


.monsters {
  background: $white;
  height: calc(100vh - 139px);
  position: relative;
  overflow: hidden;

  .clouds {
    background-image: url('/images/monsters/clouds-dark.svg'), url('/images/monsters/clouds-light.svg');
    background-repeat: repeat-x, repeat-x;
    background-size: 360px 72px, 360px 75px;
    background-position: bottom, top;
    height: 75px;
    width: 100vw;
    position: absolute;
    bottom: -1px;
  }

  .wigwam {
    background-image: url('/images/monsters/wigwam.svg');
    background-repeat: no-repeat;
    position: absolute;
    width: 327.519px;
    height: 260px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 8px;
  }


  @include breakpoint(tablet) {
    height: calc(100vh - 80.76px);

    .clouds {
      background-image: url('/images/monsters/clouds-dark-768.svg'), url('/images/monsters/clouds-light.svg');
      background-size: auto 137px, 768px 160px;
      height: 160px;
      bottom: 0;
    }

    .wigwam {
      background-size: 487px 386px;
      width: 487.664px;
      height: 386px;
      bottom: 32px;
    }

  }

  @include breakpoint(laptop) {

    .clouds {
      background-size: auto 183px, 1024px 213px;
      height: 213px;
    }

  }

  @include breakpoint(desktop) {

    height: calc(100vh - 91px);

    .clouds {
      background-image: url('/images/monsters/clouds-dark-1440.svg'), url('/images/monsters/clouds-light-1440.svg');
      background-size: auto 285px, 1440px 301px;
      height: 301px;
    }

    .wigwam {
      background-image: url('/images/monsters/wigwam-1440.svg');
      background-size: 655px 460px;
      width: 655px;
      height: 460px;
    }
  }


}