@import '@/scss/utils/func';
@import '@/scss/utils/variables';
@import 'scss/utils/mixin';

.section {
    padding: 48px 0;
    background-color: getColor(blue, 90);
    background-image: url('/images/additional-cloud.svg');
    background-repeat: repeat-x;
    background-size: 100%;
    @include breakpoint(tablet) {
        padding-top: 72px;
        background-image: url('/images/additional-cloud-tb.svg');
        padding-bottom: 92px;
    }
}

.container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    @include breakpoint(tablet) {
        flex-direction: row;
        gap: 25px;
        }
}

.feedbackContainer {
    padding: 24px 0;
    @include breakpoint(tablet) {
        width: 332px;
        min-height: 297px;
        margin: 0;
        padding: 24px 0;
    }
}

.feedbackTitle {
    margin-bottom: 24px;
    color: $black;
    text-align: left;
    line-height: 1.2;
    letter-spacing: 0.01px;
    
    @include breakpoint(tablet) {
        margin-top: 0;
        text-align: start;
        }
}

.feedbackText {
    margin-bottom: 64px;
    color: $black;
    font-weight: 400;
    line-height: 1.2;
    
}

.socialWrapper {
 display: flex;
 gap: 24px;
}

.bazaContainer {
    min-height: 260px;
    min-width: 328px;
    padding: 16px;
    border-radius: 8px;
    border: 8px solid #fff;
    background: $primary;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.31);
    @include breakpoint(tablet) {
        width: 330px;
        min-height: 297px;
    }
}

.titleWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3px;
    margin-bottom: 24px;
}

.bazaTitle {
    color: #fff;
    line-height: 1.2;
    letter-spacing: -0.72px;
}
 .z {
    color: #fff;
    font-size: 24px;
    font-weight: 800;
    line-height: 1.05;
    letter-spacing: -0.72px;
}
.textWrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.bazaText {
    color: #fff;
    font-weight: 400;
}