@import '@/scss/utils/func';
@import '@/scss/utils/mixin';

.button{
    width: 77px;
    height: 32px;
    padding: 10px,16px,10px,16px;
    border-radius: 8px;
    color: #7791FA;
    border-color: #7791FA;
    border: 1px;


}