@import './variables', './func';

@mixin visibilityHidden() {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin breakpoint($from, $to: false) {
  @if not $to {
    @media screen and (min-width: getBreakpoint($from)) {
      @content;
    }
  } @else if not $from {
    @media screen and (max-width: (getBreakpoint($to) - 1px)) {
      @content;
    }
  } @else {
    @media screen and (min-width: getBreakpoint($from)) and (max-width: (getBreakpoint($to) - 1px)) {
      @content;
    }
  }
}

@mixin setTransition($args...) {
  $transitions: ();
  @each $arg in $args {
    $transitions: append($transitions, $arg $animation-duration $animation-function, comma);
  }
  transition: $transitions;
}
