$breakpoints: (
  mobile: 360px,
  tablet: 768px,
  desktop: 1200px,
);

$palettes: (
  blue: (
    100: #fdfdfd,
    90: #dbf5ff,
    80: #c7e1ff,
    70: #b3cdff,
    60: #9fb9ff,
    50: #8ba5ff,
    40: #7791fa,
    30: #637de6,
    20: #455fc8,
    10: #132d96,
    0: #1e1e1e,
  ),
  yellow: (
    100: #fdfdfd,
    90: #ffffb9,
    80: #ffff91,
    70: #fff07d,
    60: #ffdc69,
    50: #ffc855,
    40: #f2b441,
    30: #dea02d,
    20: #b67805,
    10: #8e5000,
    0: #1e1e1e,
  ),
  green: (
    100: #fdfdfd,
    90: #caffec,
    80: #acffce,
    70: #8effb0,
    60: #7af19c,
    50: #66dd88,
    40: #52c974,
    30: #3eb560,
    20: #209742,
    10: #006510,
    0: #1e1e1e,
  ),
  rose: (
    100: #fdfdfd,
    90: #ffdada,
    80: #ffbcbc,
    70: #ff9e9e,
    60: #ff8080,
    50: #fe6c6c,
    40: #ea5858,
    30: #d64444,
    20: #ae1c1c,
    10: #860000,
    0: #1e1e1e,
  ),
  error: (
    100: #fdfdfd,
    90: #ffb4b4,
    80: #ff9696,
    70: #ff7878,
    60: #ff5a5a,
    50: #ff3232,
    40: #f40000,
    30: #e00000,
    20: #b80000,
    10: #900000,
    0: #1e1e1e,
  ),
  neutral: (
    100: #fdfdfd,
    90: #ebebeb,
    80: #d7d7d7,
    70: #c3c3c3,
    60: #afafaf,
    50: #9b9b9b,
    40: #868686,
    30: #727272,
    20: #5e5e5e,
    10: #4a4a4a,
    0: #1e1e1e,
  ),
);

$black: #1e1e1e;
$white: #fdfdfd;

$primary: map-get(map-get($palettes, blue), 40);
$on-primary: map-get(map-get($palettes, blue), 100);
$primary-variant: map-get(map-get($palettes, blue), 80);
$on-primary-variant: map-get(map-get($palettes, blue), 20);

$secondary: map-get(map-get($palettes, yellow), 40);
$on-secondary: map-get(map-get($palettes, yellow), 0);
$secondary-variant: map-get(map-get($palettes, yellow), 90);
$on-secondary-variant: map-get(map-get($palettes, yellow), 100);

$tertiary: map-get(map-get($palettes, green), 40);
$on-tertiary: map-get(map-get($palettes, green), 100);
$tertiary-variant: map-get(map-get($palettes, green), 70);
$on-tertiary-variant: map-get(map-get($palettes, green), 10);

$quaternary: map-get(map-get($palettes, rose), 40);
$on-quaternary: map-get(map-get($palettes, rose), 100);
$quaternary-variant: map-get(map-get($palettes, rose), 90);
$on-quaternary-variant: map-get(map-get($palettes, rose), 20);

$error: map-get(map-get($palettes, error), 40);
$on-error: map-get(map-get($palettes, error), 100);
$error-variant: map-get(map-get($palettes, error), 10);
$on-error-variant: map-get(map-get($palettes, error), 90);

$animation-function: cubic-bezier(0.4, 0, 0.2, 1);
$animation-duration: 250ms;
