@import 'scss/utils/variables';
@import 'scss/utils/mixin';

.group {
  --text-color: #{getColor(neutral, 30)};
  --border-color: #{getColor(neutral, 50)};

  width: 100%;

  color: var(--text-color);

  &[data-status='filled'] {
    --text-color: #{getColor(neutral, 10)};
    --border-color: #{getColor(neutral, 20)};
  }

  &[data-status='error'] {
    --text-color: #{$error};
    --border-color: #{$error};
  }

  &:not([data-status='error']):has(input:hover),
  &:not([data-status='error']):has(input:focus) {
    --text-color: #{$primary};
    --border-color: #{$primary};
  }
}

.label {
  display: flex;
  flex-direction: column;
  gap: 4px;

  font-size: 14px;

  @include breakpoint(tablet) {
    font-size: 16px;
  }
}

.label-text {
}

.input-group {
  display: block;

  width: 100%;
}

.input {
  width: inherit;

  padding: 12px 16px;

  color: inherit;

  border-radius: 8px;
  border: 1px solid var(--border-color);
  background-color: $white;
  outline: none;
}

.message {
  font-size: 12px;

  @include breakpoint(tablet) {
    font-size: 14px;
  }
}
