@import 'scss/utils/variables';
@import 'scss/utils/mixin';

.layout {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 32px;

  @include breakpoint(tablet) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row-reverse;
    padding-top: 56px;
    padding-bottom: 50px;
    @include breakpoint(laptop) {
      padding-top: 24px;
      padding-bottom: 45px;
    }
  }

  @include breakpoint(desktop) {
    padding-top: 80px;
    padding-bottom: 120px;
  }
}

.wraper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include breakpoint(desktop) {
    flex-direction: row-reverse;
    align-items: flex-start;
  }
}
