@import '@/scss/utils/func';
@import '@/scss/utils/mixin';
@import '@/scss/utils/variables';

$ratio-image2: 1.24;
$ratio-image3: 3.09;

.notFoundContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: calc(100vh - 134px);
  background-image: url('/images/wigwam/NoQuizPage/Cloud-mobile.svg');
  background-color: #7791fa;
  background-repeat: repeat-x;
  overflow: hidden;

  .container {
    position: absolute;
    display: flex;
    align-items: flex-end;
    height: calc(100vh - 134px);
    max-width: 100%;

    .infoContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 3vh;
      margin-bottom: 40px;

      .text {
        width: 70vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1vh;

        & p {
          color: white;
          text-align: center;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 120%;

          @media screen and (max-height: 700px) {
            font-size: 18px;
          }

          @include breakpoint(laptop) {
            font-size: 18px;
          }
          @include breakpoint(desktop) {
            font-size: 20px;
          }
        }

        @include breakpoint(tablet) {
          width: 328px;
          height: 96px;
          gap: 20px;
        }

        @include breakpoint(laptop) {
          width: 328px;
          height: 35px;
          gap: 0;
        }

      }

      & a {
        width: 327px;
        height: 54px;
      }

      @media screen and (max-height: 700px) {
        margin-bottom: 10px;
      }


      @include breakpoint(tablet) {
        max-width: 100%;
        margin-bottom: 89px;
      }

      @include breakpoint(laptop) {
        margin-bottom: 90px;
        gap: 36px;
      }

      @media screen and (min-width: 1024px) and (max-height: 700px){
        margin-bottom: 10px;
      }
    }

    @include breakpoint(tablet) {
      max-width: 100%;
    }

  }

  .background {
    width: 100vw;
    height: calc(100vh - 134px);


    & img {
      width: 100%
    }
  }

  @media screen and (max-height: 600px) {
    .background {
      display: none;
    }
  }

  @media screen and (max-width: 768px) and (min-height: 601px) {
    .background {

      & img {
        width: 100vw;
        height: 100vh;
      }
    }
  }


  @include breakpoint(tablet) {
    background-image: url('/images/wigwam/NoQuizPage/Cloud-tablet.svg');
    height: calc(100vh - 66px);

    .background {
      width: 100vw;
      height: 95vh;
      display: flex;
      align-items: flex-end;

      & img {
        width: 100vw;
        height: auto;
      }
    }

  }

  @include breakpoint(laptop) {
    background-image: url('/images/wigwam/NoQuizPage/Cloud-laptop.svg');
    height: calc(100vh - 70px);

    .background {

      & img {
        width: 100vw;
        height: auto;
      }
    }
  }

  @media screen and (min-width: 1024px) and (max-height: 700px){

    .background {

      & img {
        width: 100vw;
        height: calc(100vh - 70px);
      }

    }
  }

  //@include breakpoint(laptop) {
  //  background-image: url('/images/wigwam/NoQuizPage/Cloud-laptop.svg'),
  //    url('/images/wigwam/NoQuizPage/hero-laptop.svg');
  //  background-position:
  //    center top,
  //    center bottom;
  //  height: calc(100vh - 100px);
  //}
  //
  //@include breakpoint(desktop) {
  //  background-image: url('/images/wigwam/NoQuizPage/Cloud-desktop.svg'),
  //    url('/images/wigwam/NoQuizPage/hero-laptop.svg');
  //  background-position:
  //    center top,
  //    center;
  //}


}
