// @import 'scss/utils/variables';

%title {
  font-family: 'Comfortaa';
  font-weight: 700;
  letter-spacing: -0.03em;
}

.text {
  &--h1 {
    @extend %title;

    font-size: 32px;
  }

  &--h2 {
    @extend %title;

    font-size: 24px;
    letter-spacing: -0.72px;
    text-align: center;
  }

  &--body {
    font-family: inherit;
  }
}
