@import '../../scss/utils/variables';
@import '../../scss/utils/mixin';

.section {
  background-color: #e3f0ff;

  background-image: url('~/public/images/about-wave_m.svg');
  background-position: center bottom;
  background-size: getBreakpoint(mobile) auto;
  background-repeat: repeat-x;

  @include breakpoint(tablet) {
    background-image: url('~/public/images/about-wave.svg');
    background-size: getBreakpoint(tablet) auto;
  }

  @include breakpoint(desktop) {
    background-size: getBreakpoint(desktop) auto;
  }
}

.container {
  padding-top: 24px;
  padding-bottom: 60px;

  @include breakpoint(tablet) {
    padding-bottom: 72px;
  }

  @include breakpoint(desktop) {
    padding-top: 47px;
    padding-bottom: 99px;
    display: flex;
    gap: 138px;
  }
}

.title {
  text-align: left;
  margin-bottom: 24px;

  @include breakpoint(tablet) {
    text-align: center;
    margin-bottom: 36px;
  }

  @include breakpoint(desktop) {
    text-align: left;
    margin-bottom: 0;
    min-width: 516px;
  }
}

.text {
  color: $light-black;
}

.about__row {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include breakpoint(tablet) {
    flex-direction: row;
  }

  @include breakpoint(desktop) {
    flex-direction: column;
    color: $black;
  }
}
