@import '@/scss/main';

:root {
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;

  font-family: 'Raleway';
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;

  border: none;
  background: none;
}
