@import '@/scss/main';

:root {
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  display: flex;
  flex-direction: column;

  max-width: 100vw;
  height: 100%;

  font-family: var(--raleway-font);
  font-weight: 300;
  font-size: 16px;
  line-height: 1.2;

  &.modal-open {
    overflow: hidden;
  }
}
main {
  flex-grow: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;

  display: block;

  color: inherit;

  border: none;
  background: none;
}

ul {
  list-style: none;
}

svg {
  width: 100%;
  height: auto;
}
