@import "@/scss/utils/func";
@import "@/scss/utils/mixin";



.header {
  // background-color: tomato;
  height: 78px;

@include breakpoint(tablet){
    height: 75px;
}
}

.headerContainer {
  // height: 54px;
  // padding-top: 24px;
  display: flex;
  justify-content: space-between;
}

.logo {
  margin-top: 12px;
  display: flex;
  justify-content: center;

  align-items: center;
}

.buttonContainer {
  display: flex;
  align-items: baseline;
  padding-top: 24px;
  
}

.link {
  display: none;

  @include breakpoint(tablet) {
    --padding-x: 40px;
    max-width: getBreakpoint(tablet);
    display: unset;
    margin-right: 48px;
    color: var(--ref-blue-blue-0, #000);
        text-align: center;
        
        font-size: 16px;
        font-family: Comfortaa;
        font-weight: 600;
  }
}

.button{
display: flex;
  width: 77px;
  height: 32px;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 2px;
  
}
