@import 'scss/utils/variables';
@import 'scss/utils/mixin';

.wrapper {
  width: 100%;
  margin-top: 24px;

  @include breakpoint(desktop) {
    margin-top: 32px;
  }
}

.headlineWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 16px;

  @include breakpoint(desktop) {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.title {
  font-size: 18px;
  text-align: center;
  color: $secondary-black;

  @include breakpoint(tablet) {
    font-size: 24px;
  }

  @include breakpoint(laptop) {
    font-size: 18px;
  }

  @include breakpoint(desktop) {
    font-size: 24px;
  }
}

.monstersContainer {
  padding-top: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 40px;

  @include breakpoint(tablet) {
    flex-wrap: nowrap;
  }

  @include breakpoint(laptop) {
    flex-wrap: nowrap;
    gap: 20px;
  }

  @include breakpoint(desktop) {
    flex-wrap: wrap;
    gap: 24px;
  }

}


.monsterWrapper {
  display: none;
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 50%;
  justify-content: center;
  align-items: center;

  @include breakpoint(mobile) {
    &:nth-child(-n + 6) {
      display: flex;
    }
  }

  @include breakpoint(tablet) {
    &:nth-child(-n + 6) {
      display: flex;
    }
  }

  @include breakpoint(laptop) {
    &:nth-child(-n + 6) {
      display: flex;
    }
  }

  @include breakpoint(desktop) {
    &:nth-child(-n + 8) {
      display: flex;
    }
  }
}

.monster {
  width: 100%;
  height: 100%;
  object-fit: cover;
}