@import '@/scss/utils/func';
@import '@/scss/utils/mixin';

// .container {
//   --padding-x: 16px;

//   max-width: getBreakpoint(mobile);
//   height: 100%;
//   margin-inline: auto;
//   padding-inline: var(--padding-x);

//   @include breakpoint(tablet) {
//     --padding-x: 40px;
//     max-width: getBreakpoint(tablet);

//     .buttonContainer {
//       align-items: baseline;
//       padding-top: 24px;
//     }
//   }

//   @include breakpoint(desktop) {
//     --padding-x: 40px;
//     max-width: getBreakpoint(desktop);
//   }
// }

// .container{
//     --padding-x: 0px;

//     @include breakpoint(tablet) {
//             --padding-x: 0px;
//     }

// }

.footer {
  background: var(--ref-blue-blue-20, #455fc8);
  // height: 304px;
  //   display: flex;
  //   flex-direction: column;
padding-top: 24px;
  padding-bottom: 24px;
  @include breakpoint(tablet) {
    height: 264px;
    min-width: 100%;
    margin: 0 auto;
    padding-top: 36px;
    padding-bottom: 36px;
  }
    @include breakpoint(desktop) {
      height: 370px;
      min-width: 100%;
      margin: 0 auto;
      padding-top: 72px;
      padding-bottom: 72px;
    }
}

.footerContainer {
  @include breakpoint(tablet) {
    // height: 54px;
    // padding-top: 24px;
    display: flex;
    // justify-content: space-between;
    // align-content: space-between;
    --padding-x: 0px;
  }
}

// .logo {
//   margin-top: 12px;
//   margin-left: 40px;
//   display: flex;
//   justify-content: center;

//   align-items: center;
// }

.link {
  display: none;

  @include breakpoint(tablet) {
    --padding-x: 40px;
    max-width: getBreakpoint(tablet);
    display: unset;
    margin-right: 48px;
    color: var(--ref-blue-blue-0, #000);
    text-align: center;

    font-size: 16px;
    font-family: Comfortaa;
    font-weight: 600;
  }
}

.list {
  list-style: none;
  color: #fdfdfd;
  font-size: 16px;
  font-family: 'Comforta';
}

.informationText {
  text-align: start;
  :not(:last-child) {
    margin-bottom: 20px;
  }

    @include breakpoint(tablet){
      :not(:last-child) {
          margin-bottom: 24px;
        }
    }

        @include breakpoint(desktop) {
          :not(:last-child) {
            margin-bottom: 32px;
            width: 193px;
          }
        }
}

.informationMail{
  margin-bottom: 19px;
}


.decoration {
  text-decoration: underline;
}

.listIcon {
  display: flex;
  align-items: flex-start;
}

.social{
  display: flex;
  :not(:last-child) {
      margin-right: 16px;
    }

@include breakpoint(tablet){
  display: flex;
    justify-content: flex-end;
    margin-top: 48px;
    margin-right: -40px;
}

@include breakpoint(desktop) {
  display: flex;
  flex-direction: column;
  margin-left: 127px;
  margin-top: 0px;
  :not(:last-child) {
      margin-right: 0px;
    }
        :not(:last-child) {
          margin-bottom: 40px;
        }
}
}

.socialImage{
width: 24px;
height: 24px;

@include breakpoint(desktop){
  width: 40px;
    height: 40px;
}
}
// .iconInsta {
//   margin-left: 24px;
// }

.text {
  margin-bottom: 14px;
}

.image {
  margin-right: 8px;
  margin-bottom: 8px;
@include breakpoint(desktop){
  width: 24px;
    height: 24px;
  }
}
.logo {
  @include breakpoint(tablet){
    margin-bottom: 15px;
  }

    @include breakpoint(desktop) {
      margin-bottom: 22px;
      width: 87px;
      height: 74px;
    }
  
}

.logoText{
  @include breakpoint(tablet) {
      margin-bottom: 15px;
      
    }
  
    @include breakpoint(desktop) {
      
      width: 178px;
      height: 24px;
    }
}

.logoContainer {
  display: flex;
  align-items: center;

  @include breakpoint(tablet) {
    flex-direction: column;
  }
}

.contacts {

  @include breakpoint(tablet){
  margin-left: 24px;
  display: flex;
  flex-direction: column;
  }

    @include breakpoint(desktop) {
      margin-left: 60px;
      flex-direction: row;
      
    }
}

.informationContact {
  margin-bottom: 8px;

  @include breakpoint(desktop) {
      margin-bottom: 32px;
      
    }
}

.informationContactSecond {
  margin-bottom: 16px;
  @include breakpoint(tablet){
    margin-bottom: 17px;
  }
}

.text1 {
  margin-bottom: 19px;
}

// .footer1 {
//   display: block;
// }

// .footerContainer1 {
//   display: flex;
//   justify-content: space-between;
//   align-items: baseline;
// }

.socialLink {
  display: flex;
  justify-content: end;
}

.footerText {

  margin-top: 32px;
  color: #ffff;

  /* Caption */
  font-size: 11px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
@include breakpoint(tablet){
  margin-top: -22px;
}
    @include breakpoint(desktop) {
      margin-top: 0px;
    }
}

.footerList {
display: flex;
  justify-content: flex-start;
  flex-direction: column;
  @include breakpoint(tablet){
margin-left: 117px;
  width: 217px;
  flex-direction: column;
  }

    @include breakpoint(desktop) {
 flex-direction: row;
 width: auto;
margin-left: 148px;
    }
 
}

.wrapper{
  margin-top: 32px;
  display: flex;
  justify-content: space-between;

  @include breakpoint(tablet){
    margin-top: 0;
  }
}

.wbr{
  display: none;
  @include breakpoint(tablet){
    display:unset
  }
    @include breakpoint(desktop) {
      display: unset
    }
}

.wbr1{
  
  
    @include breakpoint(tablet) {
      display: none
    }
  
    @include breakpoint(desktop) {
      display: none
    }
}

.class{
  display: flex;
  flex-direction: column;
}

.class1 {
  display: flex;
  flex-direction: column;
  
}

.class2 {
  display: flex;
  flex-direction: column;

}

.class3 {
  display: flex;
  flex-direction: column;

}


