@import '@/scss/utils/func';
@import '@/scss/utils/mixin';

// .container {
//   --padding-x: 16px;

//   max-width: getBreakpoint(mobile);
//   height: 100%;
//   margin-inline: auto;
//   padding-inline: var(--padding-x);

//   @include breakpoint(tablet) {
//     --padding-x: 40px;
//     max-width: getBreakpoint(tablet);

//     .buttonContainer {
//       align-items: baseline;
//       padding-top: 24px;
//     }
//   }

//   @include breakpoint(desktop) {
//     --padding-x: 40px;
//     max-width: getBreakpoint(desktop);
//   }
// }

// .container{
//     --padding-x: 0px;

//     @include breakpoint(tablet) {
//             --padding-x: 0px;
//     }

// }

.footer {
  background: var(--ref-blue-blue-20, #455fc8);
  height: 78px;
//   display: flex;
//   flex-direction: column;


  @include breakpoint(tablet) {
    height: 264px;
    min-width: 100%;
    margin: 0 auto;
    padding-top: 36px;
    padding-bottom: 36px;
  }
}

.footerContainer {
  // height: 54px;
  // padding-top: 24px;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
--padding-x: 0px;
}

// .logo {
//   margin-top: 12px;
//   margin-left: 40px;
//   display: flex;
//   justify-content: center;

//   align-items: center;
// }




.link {
  display: none;

  @include breakpoint(tablet) {
    --padding-x: 40px;
    max-width: getBreakpoint(tablet);
    display: unset;
    margin-right: 48px;
    color: var(--ref-blue-blue-0, #000);
    text-align: center;

    font-size: 16px;
    font-family: Comfortaa;
    font-weight: 600;
  }
}

.list {
  list-style: none;
  color: #fdfdfd;
  font-size: 16px;
  font-family: 'Comforta';
}

.informationText {
  :not(:last-child) {
    margin-bottom: 24px;
    text-align: start;
  }
}

.listIcon {
  display: flex;
  align-items: flex-start;
}

.text {
  margin-bottom: 14px;
  
}

.image {
  margin-right: 8px;
  margin-bottom: 15px;
}
.logo{
    margin-bottom: 15px;
}

.logoContainer{
display: flex;
flex-direction: column;
align-items: center;
}

.contacts {
  text-align: end;
}

.text1{
    margin-bottom: 19px;
    
}

.footer1{
    display:block;
    
    
}

.footerContainer1{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    
}

.socialLink{
    display: flex;
    justify-content: end;
}

.footerText{
    color: #FFF;
        
        /* Caption */
        font-size: 12px;
        font-family: Raleway;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;

        padding-top: 48px;
        
}
