@import 'scss/utils/variables';
@import 'scss/utils/mixin';

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;

  width: 100%;

  @include breakpoint(tablet) {
    gap: 24px;
  }

  @include breakpoint(laptop) {
    flex-direction: row;
  }
}

.item {
  width: 100%;
}

.button {
  width: 100%;
  padding: 20px 36px;

  font-size: 24px;
}
