@import 'scss/utils/variables';
@import 'scss/utils/mixin';

:where(.button) {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 24px;
  height: 24px;

  color: getColor(neutral, 10);
  @include setTransition(color);

  &:focus,
  &:hover {
    color: getColor(neutral, 30);
  }

  &:active {
    color: $black;
  }
}
