@import 'scss/utils/variables';
@import 'scss/utils/mixin';

.wraper {
  display: block;

  @include breakpoint(tablet) {
    display: flex;
    justify-content: space-between;
    @include breakpoint(tablet) {
      flex-direction: row-reverse;
    }
  }
}
